<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Access Bars | zannabirgit.dk</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="manifest" href="../../site.webmanifest">
  <link rel="apple-touch-icon" href="../../icon.png">

  <!--  font links-->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Libre+Franklin">

  <!--  css links-->
  <link href="/css/grid.css" rel="stylesheet">
  <link href="/css/main.css" rel="stylesheet">
  <link href="/css/normalize.css" rel="stylesheet">
  <link href="/css/img_header.css" rel="stylesheet">
  <link href="/css/menu_and_footer.css" rel="stylesheet">

  <!--  load fragments script-->
  <script
          src="https://code.jquery.com/jquery-3.3.1.js"
          integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
          crossorigin="anonymous">
  </script>
  <script>
    $(function(){
      $("#imgHeader").load("/fragments/images.html");
      $(".menu").load("/fragments/menu.html");
      $("#footer").load("/fragments/footer.html");
    });
  </script>
</head>
<body>

<!--  image-->
<div id="imgHeader"></div>

<!--  menu-->
<div class="menu"></div>

<!--grid-->
<div id="content">

  <!--  main-->
  <div class="div1">
    <h1>Access Bars</h1>
    <p>En Access Bars behandling er en blid berøring eller stimulering af 32 punkter på dit hoved. Punkterne er baner af energi, de kaldes Bars. Access kan oversættes til "adgang" altså adgang til energi baner.</p>
    <p>Hver energi bane relaterer sig til forskellige områder i dit liv, som f.eks.. kommunikation, penge, kontrol, krop, seksualitet, relationer, glæde, sorg, håb og drømme.</p>
    <p>Når punkterne berøres, frigives energi, og det giver mulighed for store forandringer og opløser blokeringer og fastlåste tankemønstre.</p>
    <p>Access Bars er en meget spændende behandling med kraftige energier og af de mange  tilbagemeldinger, jeg har fået er det nedenstående jeg oftest hører:</p>
    <p>indre ro, balance og klarhed, <br>
      bedre fokus, <br>
      reducering af stress og tankemylder, <br>
      større evne til at være i nuet,<br>
      kaster sig ud i nye ting,<br>
      nye indsigter om tanke- og adfærdsmønstre</p>
    <p>Under behandlingen ligger du fuldt påklædt på ryggen, mens jeg blidt berører og dermed stimulerer energipunkterne. Det er en meget afslappende behandling, hvor du måske falder i søvn undervejs eller oplever, at du kommer i en dyb tilstand af ro, hvor du hverken sover eller er helt vågen eller måske dukker der tidligere oplevelser op.<br>
      Som udgangspunkt foregår behandlingen i stilhed og med lukkede øjne, men har du lyst, er du selvfølgelig også meget velkommen til at stille spørgsmål eller dele fornemmelser, følelser og tanker med mig undervejs.</p>
    <p>Behandlingen varer ca 50 minutter og efterfølgende får du mulighed for at ligge lidt og komme til dig selv igen, der vil også bagefter være mulighed for en snak om din oplevelser under behandlingen. Du skal som minimum afsætte 60 minutter til det hele. </p>
  </div>

  <!--  aside-->
  <div class="div2">
    <p>"Tilstrækkelig søvn, rigtig kost og gode tanker er lige så uundværlige for helbredet som luft, sol og vand"</p>
  </div>

</div>

<!--  footer-->
<div id="footer"></div>




<!--scripts-->
<script src="/js/main.js"></script>
<script src="/js/plugins.js"></script>
<script src="/js/imageHeader.js"></script>

</body>
</html>
