<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Efter Behandling | zannabirgit.dk</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="manifest" href="../../site.webmanifest">
  <link rel="apple-touch-icon" href="../../icon.png">

  <!--  font links-->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Libre+Franklin">

  <!--  css links-->
  <link href="/css/grid.css" rel="stylesheet">
  <link href="/css/main.css" rel="stylesheet">
  <link href="/css/normalize.css" rel="stylesheet">
  <link href="/css/img_header.css" rel="stylesheet">
  <link href="/css/menu_and_footer.css" rel="stylesheet">

  <!--  load fragments script-->
  <script
    src="https://code.jquery.com/jquery-3.3.1.js"
    integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous">
  </script>
  <script>
    $(function(){
      $("#imgHeader").load("/fragments/images.html");
      $(".menu").load("/fragments/menu.html");
      $(".rule").load("/fragments/rule.html");
      $(".footer").load("/fragments/footer.html");
    });
  </script>
</head>
<body>

<!--  image-->
<div id="imgHeader"></div>

<!--  menu-->
<div class="menu"></div>

<!--grid-->
<div id="content">

  <!--  main-->
  <div class="div1">
    <h1>Reaktion på behandling</h1>
    <p>Hvordan og hvor meget vi reagerer på en behandling, er meget forskelligt og ofte afhængigt af hvordan den enkelte iøvrigt har det. Typisk vil man opleve at være træt efter en behandling. Man kan også opleve, at gamle gener kortvarigt blusser op. Ligeledes kan lettere hovedpine samt mave/tarm/blære reaktioner ofte opstå. Kroppen skal bruge væske i forbindelse med udrensningen og det er derfor vigtigt, at drikke ekstra vand i op til et døgn efter behandlingen. Af hensyn til syre/base balancen vil det være hensigtsmæssigt at spise frugt og grønt (base) fremfor alt andet (syre). </p>
    <p>Alle reaktioner, uanset art skal ikke opfattes som en forværring, de er tegn på at kroppen reagerer positivt på behandlingen og renser ud.</p>
    <p>Jeg anbefaler også daglige gåture i frisk tempo i 20-30 minutter.</p>
  </div>

  <!--  aside-->
  <div class="div2">
    <p>"Når vi lærer at elske og stole på vores krop, at lytte til dens signaler, at give den sund mad, hvile og omsorg, når vi holder op med at forurene den og holder op med at forsøge at kontrollere den ved hjælp af vores ideer om, hvad  der er rigtigt, vil vi næppe være i stand til fortsat at mishandle og misbruge den."</p>
  </div>

</div>

<!--hr-->
<div class="rule"></div>

<!--  footer-->
<div class="footer"></div>




<!--scripts-->
<script src="/js/main.js"></script>
<script src="/js/plugins.js"></script>
<script src="/js/imageHeader.js"></script>
<script src="/js/footerQuotes.js"></script>

</body>
</html>
