<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Erfaringer | zannabirgit.dk</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="manifest" href="../../site.webmanifest">
  <link rel="apple-touch-icon" href="../../icon.png">

  <!--  font links-->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Libre+Franklin">

  <!--  css links-->
  <link href="/css/grid.css" rel="stylesheet">
  <link href="/css/main.css" rel="stylesheet">
  <link href="/css/normalize.css" rel="stylesheet">
  <link href="/css/img_header.css" rel="stylesheet">
  <link href="/css/menu_and_footer.css" rel="stylesheet">

  <!--  load fragments script-->
  <script
    src="https://code.jquery.com/jquery-3.3.1.js"
    integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous">
  </script>
  <script>
    $(function(){
      $("#imgHeader").load("/fragments/images.html");
      $(".menu").load("/fragments/menu.html");
      $(".rule").load("/fragments/rule.html");
      $(".footer").load("/fragments/footer.html");
    });
  </script>
</head>
<body>

<!--  image-->
<div id="imgHeader"></div>

<!--  menu-->
<div class="menu"></div>

<!--grid-->
<div id="content-center">

  <!--  main-->
  <div class="div1">
    <h3>Her er et udsnit af, hvad andre har gjort sig af erfaringer, og nogle af de skønne bemærkninger jeg dagligt modtager:</h3>
    <p>"Hele mit krop sitrer så dejligt efter din behandling"<br>
      "Hvor er jeg glad for at jeg har fundet dig"<br>
      "Når jeg har fået din behandling kan jeg ikke tænke en eneste negativ tanke"<br>
      "Jeg gik herfra med boblende energi"<br>
      "Jeg har glædet mig hele dagen"<br>
      "Der er ikke så sjovt på afdelingen lige nu pga fyringerne, at komme her hos dig er min lille oase"<br>
      "Det er en spændende rejse"<br>
      "Det du gør - er vist ikke kun zoneterapi!"<br>
      "Det er svært at beskrive, hvordan det hjælper mig -  jeg ved bare at det er godt"<br>
      "Jeg er blevet helt afhængig - på den gode måde"<br>
      "Jeg har ikke haft en eneste dag med hovedpine siden min behandling hos dig"<br>
      "Det er svært at sige, præcis hvad det gør for mig - jeg føler mig lettere"<br>
      "Jeg sover altid så godt når jeg har været her"<br>
      "Det her er det bedste, jeg længe har gjort for mig selv "<br>
      "Jeg havde helt glemt, hvor skønt det er for mig at komme her hos dig" </p>
  </div>

</div>

<!--hr-->
<div class="rule"></div>

<!--  footer-->
<div class="footer"></div>




<!--scripts-->
<script src="/js/main.js"></script>
<script src="/js/plugins.js"></script>
<script src="/js/imageHeader.js"></script>
<script src="/js/footerQuotes.js"></script>

</body>
</html>
