<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Forside | zannabirgit.dk</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="manifest" href="../../site.webmanifest">
  <link rel="apple-touch-icon" href="../../icon.png">

  <!--  font links-->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Libre+Franklin">

  <!--  css links-->
  <link href="/css/grid.css" rel="stylesheet">
  <link href="/css/main.css" rel="stylesheet">
  <link href="/css/normalize.css" rel="stylesheet">
  <link href="/css/img_header.css" rel="stylesheet">
  <link href="/css/menu_and_footer.css" rel="stylesheet">

  <!--  load fragments script-->
  <script
          src="https://code.jquery.com/jquery-3.3.1.js"
          integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
          crossorigin="anonymous">
  </script>
  <script>
    $(function(){
      $("#imgHeader").load("/fragments/images.html");
      $("#menu").load("/fragments/menu.html");
      $("#footer").load("/fragments/footer.html");
    });
  </script>
</head>
<body>

<!--  images-->
<div id="imgHeader"></div>

<!--  menu-->
<div id="menu"></div>

<!--grid-->
<div id="content">

  <!--  main-->
  <div class="div1">
    <h1>Få fodfæste med Zoneterapi</h1>
    <p>Jeg har givet zoneterapi gennem mere end 16 år, jeg har haft rigtig mange børn, unge, voksne og seniorer gennem mine hænder og jeg har slet ikke tal på, hvor mange gange jeg har hørt følgende:</p>

    <p>"Ah - hvor var det dejligt - jeg ved ikke hvad det er men det gør bare noget rigtig godt for mig. <br>
      Det var helt fantastisk. Det er noget af det bedste jeg har gjort for mig selv. Jeg er så glad for at jeg har fundet dig. Jeg bliver helt klart mindre syg nu."</p>

    <p>Uanset hvad du kommer med af ubalancer, sygdom, stress, spændinger eller andre gener, så giver en behandling med zoneterapi efterfølgende ro, overblik og dermed overskud både i krop og sind.</p>

    <p>Zoneterapi styrker immunforsvaret, lindrer spændinger, mindsker hovedpinen, tager toppen af gigtsmerterne,hjælper mod allergi, styrker kredsløbet, afhjælper hedeture, sætter gang i udrensningen og hjælper mave og tarme til at få det meget bedre.</p>

    <p>For bestilling af tid kan du kontakte mig på mobil: 61183884, bedst med sms'er eller benytte online booking og bestille din tid direkte.</p>

    <p>OBS Når vi må åbne igen den 6/4 så er du velkommen til at benytte dig af dette tilbud:

    <p>Immunforsvars-booster; 4 behandlinger á ca 30 minutter indenfor en måned til 1.400 kr. <br>
      Bemærk, dette tilbud kan ikke bookes online men send mig en sms, så vender jeg tibage til dig.</p>
  </div>

  <!--  aside-->
  <div class="div2">
    <h2>Zoneterapi for:</h2>
    <ul>
      <li>Kredsløb</li>
      <li>Mave- og tarm</li>
      <li>Cancer behandling</li>
      <li>Led og muskelsmerter</li>
      <li>Styrkelse af immunforsvar</li>
      <li>Fordøjelsesproblemer</li>
      <li>Stress relaterede problemer</li>
      <li>Allergi og astma</li>
      <li>Overgangsalder/hedeture</li>
      <li>Menustrationsproblemer</li>
      <li>Eksem/hudproblemer</li>
    </ul>
  </div>

</div>

<!--  footer-->
<div id="footer"></div>


<script src="/js/main.js"></script>
<script src="/js/plugins.js"></script>
<script src="/js/dropDownList-menu.js"></script>

</body>
</html>