<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Kontakt | zannabirgit.dk</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="manifest" href="../../site.webmanifest">
  <link rel="apple-touch-icon" href="../../icon.png">

  <!--  font links-->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Libre+Franklin">

  <!--  css links-->
  <link href="/css/grid.css" rel="stylesheet">
  <link href="/css/main.css" rel="stylesheet">
  <link href="/css/normalize.css" rel="stylesheet">
  <link href="/css/img_header.css" rel="stylesheet">
  <link href="/css/menu_and_footer.css" rel="stylesheet">

  <!--  load fragments script-->
  <script
    src="https://code.jquery.com/jquery-3.3.1.js"
    integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous">
  </script>
  <script>
    $(function(){
      $("#imgHeader").load("/fragments/images.html");
      $(".menu").load("/fragments/menu.html");
      $(".rule").load("/fragments/rule.html");
      $(".footer").load("/fragments/footer.html");
    });
  </script>
</head>
<body>

<!--  image-->
<div id="imgHeader"></div>

<!--  menu-->
<div class="menu"></div>

<!--grid-->
<div id="content">

  <!--  main-->
  <div class="div1">
    <h2>Ønsker du nyhedsbrev og tilbud, så skriv til mig med din mail adresse.</h2>
    <h4>Har du spørgsmål, er du er altid velkommen til at kontakte mig.</h4>
    <p>Zanna Birgit Teresa Lyck<br>
      Adresse:  Silkeborg Plads 8 st. tv. 2100 Østerbro<br>
      Mobil: 6118 3884<br>
      Mail: zannabirgit@hotmail.com</p>
  </div>

  <!--  aside-->
  <div class="div2">
    <img src="/images/portrait_zanna.jpg" alt="Billede af mig">
  </div>

</div>

<!--hr-->
<div class="rule"></div>

<!--  footer-->
<div class="footer"></div>




<!--scripts-->
<script src="/js/main.js"></script>
<script src="/js/plugins.js"></script>
<script src="/js/imageHeader.js"></script>
<script src="/js/footerQuotes.js"></script>

</body>
</html>
