<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Priser | zannabirgit.dk</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="manifest" href="../../site.webmanifest">
  <link rel="apple-touch-icon" href="../../icon.png">

  <!--  font links-->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Libre+Franklin">

  <!--  css links-->
  <link href="/css/tables.css" rel="stylesheet">
  <link href="/css/grid.css" rel="stylesheet">
  <link href="/css/main.css" rel="stylesheet">
  <link href="/css/normalize.css" rel="stylesheet">
  <link href="/css/img_header.css" rel="stylesheet">
  <link href="/css/menu_and_footer.css" rel="stylesheet">

  <!--  load fragments script-->
  <script
    src="https://code.jquery.com/jquery-3.3.1.js"
    integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous">
  </script>
  <script>
    $(function(){
      $("#imgHeader").load("/fragments/images.html");
      $("#menu").load("/fragments/menu.html");
      $("#footer").load("/fragments/footer.html");
    });
  </script>
</head>
<body>

<!--  image-->
<div id="imgHeader"></div>

<!--  menu-->
<div id="menu"></div>

<!--grid-->
<div id="content-center">

  <!--  main-->
  <div class="div1">
      <div class="container-fluid">
        <h1>Priser for 2021</h1>
        <table class="table servicesTable priceTable">
          <tr>
            <th>Behandling</th>
            <th>Pris</th>
            <th>Længde</th>
          </tr>
        </table>
      </div>
    <br>Husk altid at afsætte lidt længere tid end selve behandlingen. Ofte er der brug for at udveksle informationer
    og måske også for en samtale med råd og vejledning.
    <br><br>
    Har du spørgsmål, er du atid velkommen til at kontakte mig på mail: zannabirgit@hotmail.com
    eller gerne en sms på mobil nr 6118 3884.
    <br><br>
    Bemærk: Afbud skal ske 12 timer inden aftalt tid, ved for sent afbud må du forvente at betale gebyr på 300 kr.
    Ved udeblivelse må du forvente at betale fuld pris.
    <br><br>
    Betaling er kontant eller med MobilePay 34288 efter hver behandling eller via bankoverførsel seneste dagen før
    på konto: 2313 6880 286 240. Ved klippekort betales samlet første gang.
    <br><br>
    Jeg er registreret behandler (RAB) og det giver dig mulighed for at få helt eller delvis dækning via sygeforsikringer
    samt tilskud fra Sygesikringen Danmark.
  </div>

  <!--  aside-->
  <div class="div2"></div>

</div>

<!--  footer-->
<div id="footer"></div>




<!--scripts-->
<script src="/js/main.js"></script>
<script src="/js/plugins.js"></script>
<script src="/js/servicesList.js"></script>
<script src="/js/imageHeader.js"></script>

</body>
</html>
