<div id="nav">
  <ul>
    <li><a href="/">Forside</a></li>
    <li onclick="dropdownFunction()" class="dropbtn">Behandlinger
      <ul id="dropdown" class="dropdown-content">
        <li><a href="zoneterapi.html">Zoneterapi</a></li>
        <li><a href="healing.html">Healing</a></li>
        <li><a href="accessbars.html">Access Bars</a></li>
      </ul>
    </li>
    <li><a href="efterbehandling.html">Efter Behandlingen</a></li>
    <li><a href="erfaringer.html">Erfaringer</a></li>
    <li><a href="kontakt.html">Kontakt</a></li>
    <li><a href="/products.html">Produkter</a></li>
    <li><a href="priser.html">Priser</a></li>
    <li><a href="onlinebooking.html">Online Booking</a></li>
  </ul>
</div>
