/* standard grid */
#content{
  display: grid;
  width: 60%;
  margin: 40px auto 100px;
  justify-items: center;
  grid-template-areas:
    'main main main aside aside';
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 30px;
}
#content > .div1{
  grid-area: main;
}
#content > .div2{
  grid-area: aside;
  padding: 0 20px;
}

/* single column grid */
#content-center{
  display: grid;
  width: 60%;
  margin: 40px auto 100px;
  justify-items: left;
  grid-template-areas:
    'main';
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

/* shopping cart grid */
#shoppingCart{
  display: grid;
  width: 100%;
  grid-template-areas:
    'title'
    'product'
    'totalSum'
    'btn';
  grid-template-columns: 1fr;
  grid-template-rows: 40px 1fr 25px 25px;
  grid-row-gap: 10px;
  grid-column-gap: 5px;
}

#shoppingCart > .shoppingCartGridChild_1 {
  grid-area: title;
}
#shoppingCart > .shoppingCartGridChild_2 {
  grid-area: product;
}
#shoppingCart > .shoppingCartGridChild_3 {
  grid-area: totalSum;
}
#shoppingCart > .shoppingCartGridChild_3 > h4{
  display: inline;
}
#shoppingCart > .shoppingCartGridChild_4 {
  grid-area: btn;
}

/* footer grid */
.footer{
  display: grid;
  width: 60%;
  margin: auto;
  justify-items: center;
  align-items: center;
  grid-template-areas:
    'img info';
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 100px;
}
.fdiv1{
  grid-area:img;
  justify-self: right;
}
.fdiv2{
  grid-area:info;
  justify-self: left;
}

/* alt footer grid */
.footerAlt{
  display: grid;
  width: 60%;
  margin: auto;
  justify-items: center;
  align-items: center;
  grid-template-areas:
    'quote img info';
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 70px;
}
.fdiv1a{
  grid-area:quote;
  justify-self: right;
  align-self: start;
}
.fdiv2a{
  grid-area:img;
}
.fdiv3a{
  grid-area:info;
  justify-self: left;
  align-self: start;
}


