#content{
  display: grid;
  width: 60%;
  margin: 40px auto 100px;
  justify-items: center;
  grid-template-areas:
    'main main main aside aside';
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 30px;
}
#content > .div1{
  grid-area: main;
}
#content > .div2{
  grid-area: aside;
  padding: 0 20px;
}

#content-center{
  display: grid;
  width: 60%;
  margin: 40px auto 100px;
  justify-items: center;
  grid-template-areas:
    'main';
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

#footer{
  display: grid;
  margin: auto;
  justify-items: center;
  align-items: center;
  grid-template-areas:
    'img info';
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 100px;
}
#footer > .fdiv1{
  grid-area:img;
  justify-self: right;
}
#footer > .fdiv2{
  grid-area:info;
  justify-self: left;
}
