#imgHeader{
  height: 168px;
  position: relative;
}
#imgHeader img {
  width: 100%;
  height: 100%;
  position: absolute;
}

.show {
  opacity: 1;
  transition: opacity 5000ms;
}
.hide {
  opacity: 0;
  transition: opacity 5000ms;
}


