<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kalender | zannabirgit.dk</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="../../site.webmanifest">
    <link rel="apple-touch-icon" href="../../icon.png">

    <!--  font links-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Libre+Franklin">

    <!--  css links-->
    <link href="/css/grid.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/normalize.css" rel="stylesheet">
    <link href="/css/img_header.css" rel="stylesheet">
    <link href="/css/menu_and_footer.css" rel="stylesheet">
    <link href="/css/tables.css" rel="stylesheet">
    <link href="/css/calendar-imports/calendar-import.css" rel="stylesheet"/>

    <!--  load fragments script-->
    <script
            src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous">
    </script>
    <script>
        $(function(){
            $("#imgHeader").load("/fragments/images.html");
            $("#menu").load("/fragments/menu.html");
            $("#footer").load("/fragments/footer.html");
        });
    </script>
</head>
<body>

<!--  image-->
<div id="imgHeader"></div>

<!--  menu-->
<div id="menu"></div>

<!--grid-->
<div id="content-center">
    <div class="div1">
        <div id="calendar"></div>
    </div>
</div>

<!--  footer-->
<div id="footer"></div>

<script src="/js/calendar.js"></script>
<script src="/css/calendar-imports/calendar-long-1.css"></script>
<script src="/css/calendar-imports/calendar-long-2.css"></script>
<script src="/css/calendar-imports/calendar-long-3.js"></script>
<script src="/css/calendar-imports/calendar-long-4.js"></script>
<script src="/css/calendar-imports/calendar-long-5.js"></script>
<script src="/css/calendar-imports/calendar-long-6.js"></script>



</body>
</html>
