<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login | zannabirgit.dk</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="../../site.webmanifest">
    <link rel="apple-touch-icon" href="../../icon.png">

    <!--  font links-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Libre+Franklin">

    <!--  css links-->
    <link href="/css/grid.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/normalize.css" rel="stylesheet">
    <link href="/css/img_header.css" rel="stylesheet">
    <link href="/css/menu_and_footer.css" rel="stylesheet">

    <!--  load fragments script-->
    <script
            src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous">
    </script>
    <script>
        $(function(){
            $("#imgHeader").load("/fragments/images.html");
            $(".menu").load("/fragments/ownerMenu.html");
            $("#footer").load("/fragments/footer.html");
        });
    </script>
</head>
<body>

<!--  images-->
<div id="imgHeader"></div>

<!--  menu-->
<div class="menu"></div>

<!--grid-->
<div id="content">

    <!--  main-->
    <div class="div1">
        <!-- edit products -->
        <h1>Ændre produkter</h1>

        <div class="form-group">
            <label for="productID" style="margin-right: 20px">Produkt ID</label>
            <input type="text" class="form-control" id="productID" name="productID" required>
        </div>

        <div class="form-group">
            <label for="productName">Produkt navn</label>
            <input type="text" class="form-control" id="productName" name="productName">
        </div>

        <div class="form-group">
            <label for="productPrice" style="margin-right: 8.5px">Produkt pris</label>
            <input type="number" class="form-control" id="productPrice" name="productPrice">
        </div>

        <button type="submit" class="btn btn-primary editProductButton">Edit</button>
    </div>

    <!--  aside-->
    <div class="div2">
        <h1>Produkter for 2021</h1>
        <table class="table editProductsTable">
            <tr>
                <th>Id</th>
                <th>Navn</th>
                <th>Pris</th>
            </tr>
        </table>

        <!--delete product-->
        <div class="container">
            <div class="form-group">
                <label for="deleteProduct"></label>
                <br><strong>Vælg id til sletning</strong>
                <input type="number" class="form-control" id="deleteProduct" name="deleteProduct" required>
                <button type="button" class="btn btn-primary deleteProductButton">Slet produkt</button>
            </div>
        </div>
    </div>

</div>

<!--  footer-->
<div id="footer"></div>



<script src="/js/main.js"></script>
<script src="/js/plugins.js"></script>
<script src="/js/imageHeader.js"></script>
<script src="/js/productShop/editProducts.js"></script>
<script src="/js/productShop/deleteProducts.js"></script>

</body>
</html>
