<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--  <meta charset="UTF-8">-->
<!--  <title>Login | zannabirgit.dk</title>-->
<!--  <meta name="viewport" content="width=device-width, initial-scale=1">-->
<!--  <link rel="manifest" href="../../site.webmanifest">-->
<!--  <link rel="apple-touch-icon" href="../../icon.png">-->

<!--  &lt;!&ndash;  font links&ndash;&gt;-->
<!--  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Libre+Franklin">-->

<!--  &lt;!&ndash;  css links&ndash;&gt;-->
<!--  <link href="/css/grid.css" rel="stylesheet">-->
<!--  <link href="/css/main.css" rel="stylesheet">-->
<!--  <link href="/css/normalize.css" rel="stylesheet">-->
<!--  <link href="/css/img_header.css" rel="stylesheet">-->
<!--  <link href="/css/menu_and_footer.css" rel="stylesheet">-->

<!--  &lt;!&ndash;  load fragments script&ndash;&gt;-->
<!--  <script-->
<!--          src="https://code.jquery.com/jquery-3.3.1.js"-->
<!--          integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="-->
<!--          crossorigin="anonymous">-->
<!--  </script>-->
<!--  <script>-->
<!--    $(function(){-->
<!--      $("#imgHeader").load("/fragments/images.html");-->
<!--      $(".menu").load("/fragments/ownerMenu.html");-->
<!--      $("#footer").load("/fragments/footer.html");-->
<!--    });-->
<!--  </script>-->
<!--</head>-->
<!--<body>-->

<!--&lt;!&ndash;  images&ndash;&gt;-->
<!--<div id="imgHeader"></div>-->

<!--&lt;!&ndash;  menu&ndash;&gt;-->
<!--<div class="menu"></div>-->

<!--&lt;!&ndash;grid&ndash;&gt;-->
<!--<div id="content-center">-->

<!--  &lt;!&ndash;  main&ndash;&gt;-->
<!--  <div class="div1">-->
<!--    <div class="form-group username">-->
<!--      <label for="username">Brugernavn</label><br>-->
<!--      <input type="text" class="form-control" id="username" name="username" required>-->
<!--    </div>-->
<!--    <div class="form-group password">-->
<!--      <label for="password">Kodeord</label><br>-->
<!--      <input type="text" class="form-control" id="password" name="password" required>-->
<!--    </div>-->
<!--  </div>-->

<!--</div>-->

<!--&lt;!&ndash;  footer&ndash;&gt;-->
<!--<div id="footer"></div>-->



<!--<script src="/js/main.js"></script>-->
<!--<script src="/js/plugins.js"></script>-->
<!--<script src="/js/imageHeader.js"></script>-->

<!--</body>-->
<!--</html>-->
